extends ../layouts/application.pug

block header
  ='Edit'

block content
  +formFor()(action='/users' method='post')
    +input('firstName', data.firstName, errors.firstName)(type="text")
    +input('lastName', data.lastName, errors.lastName)(type="text")
    +input('email', data.email, errors.email)(type="text")
    +input('password', '', errors.password)(type="password")
    input(name="_method" type="hidden" value="PUT")
    +submit()(value='Save')
