extends ../layouts/application.pug

block header
  =t('users.new.title')

block content
  +formFor()(action='/users' method='post')
    +input(t('users.new.form.firstName'), data.user.firstName, errors.firstName)(type="text")
    +input(t('users.new.form.lastName'), data.user.lastName, errors.lastName)(type="text")
    +input(t('users.new.form.email'), data.user.email, errors.email)(type="text")
    +input(t('users.new.form.password'), data.user.password, errors.password)(type="password")
    +submit()(value=t('users.new.form.confirm'))
