extends ../layouts/application.pug

block header
  =t('views.new.users.title')

block content
  +formFor()(action='/users' method='post')
    +input(data.user, 'firstName', errors)(type="text")
    +input(data.user, 'lastName', errors)(type="text")
    +input(data.user, 'email', errors)(type="text")
    +input(data.user, 'password', errors)(type="password")
    +submit()(value=t('views.buttons.save'))
