extends ../layouts/application.pug

block header
  ='Edit'

block content
  +formFor()(action='/task' method='post')
    +input('Name', data.task.name, errors.name)(name="name")
    +input('Description', data.task.description, errors.description)(name='description')
    +select('Status', data.statuses, errors.statusId)(name='statusId')
    +multiselect('Labels', data.labels, errors.labelIds)(name='labelIds')
    +select('Creator', data.users, errors.creatorId)(name='creatorId')
    +select('Assigned', data.users, errors.assignedId)(name='assignedId')
    input(name="id" type="hidden" value= data.task.id)
    input(name="_method" type="hidden" value="PUT")
    +submit()(value='Save')
