extends ../layouts/application.pug

block header
  ='Add new Task'

block content
  +formFor()(action='/task' method='post')
    +input('Name', data.name, errors.name)(name='name')
    +input('Description', data.description, errors.description)(name='description')
    +select('Status', data.statuses, errors.status_id)(name='status_id')
    +select('Creator', data.users, errors.creator_id)(name='creator_id')
    +select('Assigned', data.users, errors.assigned_id)(name='assigned_id')
    +submit()(value='Save')
