extends ../layouts/application.pug

block header
  =t('views.edit.statuses.title')

block content
  +formFor()(action=`${route('updateStatus', { id: data.status.id })}?_method=patch` method='post')
    +input(data.status, 'name', errors)
    +submit()(value=t('views.buttons.edit'))
