extends ../layouts/application.pug

block header
  ='Edit'

block content
  +formFor()(action='/statuses' method='post')
    +input('name', data.status.name, errors.name)(type="name")
    input(name="id" type="hidden" value= data.status.id)
    input(name="_method" type="hidden" value="PUT")
    +submit()(value='Save')
