extends ../layouts/application.pug

block header
  =t('statuses.new.title')

block content
  +formFor()(action='/statuses' method='post')
    +input(t('statuses.new.form.name'), data.status.name, errors.name)(name="name")
    +submit()(value=t('statuses.new.form.confirm'))
