extends ../layouts/application.pug

block header
  =t('views.new.statuses.title')

block content
  +formFor()(action='/statuses' method='post')
    +input(data.status, 'name', { errors, defaultValue: data.status })
    +submit()(value=t('views.buttons.create'))
