doctype html
head
  title Oops!
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  script(src='/assets/main.js')
body
    .page-wrap.d-flex.flex-row.align-items-center
      .container
        .row.justify-content-center
          .col-md-12.text-center
            span.display-1.d-block 500
            .mb-4.lead Wow. That was too much.
            a.btn.btn-link(href='/') Back to Home
