extends ../layouts/application.pug

block header
  ='Edit'

block content
  +formFor()(action=`/labels/${reply.request.params.id}` method='post')
    +input('name', data.label.name, errors.name)(type="name")
    input(name="_method" type="hidden" value="PATCH")
    +submit()(value='Save')
