extends ../layouts/application.pug

block header
  =t('views.edit.labels.title')

block content
  +formFor()(action=`/labels/${reply.request.params.id}?_method=patch` method='post')
    +input(data.label, 'name', { errors, defaultValue: data.label })
    +submit()(value=t('views.buttons.edit'))
