extends ../layouts/application.pug

block header
  =t('labels.edit.title')

block content
  +formFor()(action=`/labels/${reply.request.params.id}` method='post')
    +input(t('labels.edit.form.name'), data.label.name, errors.name)(name="name")
    input(name="_method" type="hidden" value="PATCH")
    +input(t('labels.edit.form.name'), data.label.name, errors.name)(name="name")
