extends ../layouts/application.pug

block header
  =t('labels.new.title')

block content
  +formFor()(action='/labels' method='post')
    +input(t('labels.new.form.name'), data.label.name, errors.name)(name="name")
    +submit()(value=t('labels.new.form.confirm'))
