extends ../layouts/application.pug

block header
  =t('views.new.labels.title')

block content
  +formFor()(action='/labels' method='post')
    +input(data.label, 'name', errors)
    +submit()(value=t('views.buttons.create'))
