extends ../layouts/application.pug

block header
  = t('views.edit.tasks.title')

block content
  +formFor()(action=`/tasks/${data.task.id}?_method=patch` method='post')
    +input(data.task, 'name', errors)
    +input(data.task, 'description', errors)
    +select(data.task, 'statusId', errors)
    +multiselect(data.task, 'labelIds', errors)
    +select(data.task, 'executorId', errors)
    +submit()(value=t('views.buttons.edit'))
