extends ../layouts/application.pug

block header
  = t('views.edit.tasks.title')

block content
  +formFor()(action=`${route('updateTask', { id: data.task.id })}?_method=patch` method='post')
    +input(data.task, 'name', errors)
    +textarea(data.task, 'description',errors)
    +select(data.task, 'statusId', data.statuses, {}, errors)
    +select(data.task, 'labels', data.labels, { isMultiselect: true }, errors)
    +select(data.task, 'executorId', data.users, {}, errors)
    +submit()(value=t('views.buttons.edit'))
