extends ../layouts/application.pug

block header
  = t('views.edit.tasks.title')

block content
  +formFor()(action=`/tasks/${data.task.id}?_method=patch` method='post')
    +input(data.task, 'name', { errors, defaultValue: data.task })
    +input(data.task, 'description', { errors, defaultValue: data.task })
    +select(data.task, 'statusId', { errors, defaultValue: data.task })
    +multiselect(data.task, 'labels', { errors, })
    +select(data.task, 'executorId', { errors, defaultValue: data.passed })
    +submit()(value=t('views.buttons.edit'))
