extends ../layouts/application.pug

block header
  = t('views.new.tasks.title')

block content
  +formFor()(action='/tasks' method='post')
    +input(data.task, 'name', { errors, defaultValue: data.passed })
    +input(data.task, 'description', { errors, defaultValue: data.passed })
    +select(data.task, 'statusId', { errors, defaultValue: data.passed })
    +multiselect(data.task, 'labels', { errors, defaultValue: data.passed })
    +select(data.task, 'executorId', { errors, defaultValue: data.passed })
    +submit()(value=t('views.buttons.create'))
