extends ../layouts/application.pug

block header
  = t('views.new.tasks.title')

block content
  +formFor()(action=route('createTask') method='post')
    +input(data.task, 'name', errors)
    +textarea(data.task, 'description',errors)
    +select(data.task, 'statusId', data.statuses, {}, errors)
    +select(data.task, 'labels', data.labels, { isMultiselect: true }, errors)
    +select(data.task, 'executorId', data.users, {}, errors)
    +submit()(value=t('views.buttons.create'))
