include ../mixins/forms.pug

doctype html
html(lang="en").h-100
  head
    title Taskmine
    script(src='/assets/main.js')
  body.h-100.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
      a.navbar-brand(href='/') Taskmine
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/users') Users
      if isAuthenticated()
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/statuses') Statuses
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/labels') Labels
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/tasks') Tasks
      up.navbar-nav
        if !isAuthenticated()
          li.nav-item
            a.nav-link(href='/users/new') Sign Up
          li.nav-item
            a.nav-link(href='/sessions/new') Sign In
        else
          li.nav-item
            +buttonTo('/sessions', 'delete')(class='nav-link', value='Sign Out')
    .container
      h1.my-4
        block header
      block content
