include ../mixins/forms.pug

doctype html
html(lang="en").h-100
  head
    title Taskmine
    script(src='/assets/main.js')
  body.h-100.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
      a.navbar-brand(href='/') Taskmine
      if reply.request.currentUser
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/user') Users
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/status') Statuses
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/label') Labels
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/task') Tasks
      up.navbar-nav
        if !reply.request.currentUser
          li.nav-item
            a.nav-link(href='/user/new') Sign Up
          li.nav-item
            a.nav-link(href='/session/new') Sign In
        else
          li.nav-item
            +buttonTo('/session', 'delete')(class='nav-link', value='Sign Out')
    .container
      h1.my-4
        block header
      block content
