extends ../layouts/application.pug

block header
  ='Sign In'

block content
  +formFor()(action='/session' method='post')
    +input('email', data.email, errors.email)(type="text")
    +input('password', data.password, errors.password)(type="password")
    +submit()(value='Sign In')
