extends ../layouts/application.pug

block header
  =t('session.signin.title')

block content
  +formFor()(action='/sessions' method='post')
    +input(t('session.signin.form.email.title'), data.user.email, errors.email)(name='email' type="text")
    +input(t('session.signin.form.password'), data.user.password, errors.password)(name='password' type="password")
    +submit()(value=t('session.signin.form.confirm'))
