extends ../layouts/application.pug

block header
  ='Edit'

block content
  +formFor()(action='/label' method='post')
    +input('name', label.name, errors.name)(type="name")
    input(name="id" type="hidden" value= label.id)
    input(name="_method" type="hidden" value="PUT")
    +submit()(value='Save')
